@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

#color-palette {
    color: blanchedalmond;
    color: #88CC88;
    color: #55AA55;
    color: #2D882D;
    color: #116611;
    color: #004400;
    color: #3b423b;
    color: #2b332b;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Handlee', cursive;
    background-color: blanchedalmond;
}

body.dark-mode {
    background-color: #3b423b;
    color: blanchedalmond;
}

h1 {
    font-size: 72px;
}

h1, h2, h3 {
    font-family: 'Homemade Apple', cursive;
    text-align: center;
    color: #2D882D;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3 {
    color: #116611;
}

a:hover {
    color: red;
}

a:visited {
    color: maroon;
}

header {
    background-color: #2D882D;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 10px;
}

body.dark-mode > header {
    background-color: #2b332b;
}

#theme-toggle, #color-mode-toggle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 10px;
    background: transparent;
    border: 1px solid white;
    color: white;
}

nav {
    flex-grow: 1;
}

nav > ul {
    display: flex;
}

nav > ul > li {
    list-style-type: none;
    width: 25%;
    margin: 0 10px;
}

nav > ul > li > a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

nav > ul > li > a:hover,
#theme-toggle:hover, #color-mode-toggle:hover {
    background-color: #55AA55;
    border: none;
    cursor: pointer;
    color: white;
}

body.dark-mode nav > ul > li > a:hover,
body.dark-mode #theme-toggle:hover,
body.dark-mode #color-mode-toggle:hover {
    background-color: #3b423b;
    border: none;
    cursor: pointer;
    color: white !important;
}

nav > ul > li > a:visited {
    color: blanchedalmond;
}

body.dark-mode nav > ul > li > a:visited {
    color: blanchedalmond;
}

main {
    margin: 0 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 ~ img {
    display: block;
    margin: 20px 0;
    height: 400px;
    width: auto;
}

img ~ section > p {
    text-indent: 2em;
    margin-bottom: 1em;
    line-height: 2em;
}

section {
    max-width: 1200px;
    min-width: 605px;
    margin: 20px auto;
}

section img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    float: left;
}

article {
    margin: 20px 0;
    text-align: center;
}

iframe {
    border: none;
    width: 450px;
    height: 450px;
}

article > div > span {
    font-weight: bold;
}

article > div > address {
    font-style: normal;
}

article > div > address::before {
    content: "📞 ";
}

div.new {
    font-size: 150%;
    color: red;
}

table {
    border: 1px solid #004400;
    border-collapse: collapse;
    margin: 25px auto 0;
}

td {
    padding: 5px;
}

tbody tr:nth-child(odd) {
    background-color: #55AA55;
}

tbody tr:nth-child(even) {
    background-color: #88CC88;
}

tbody > tr > td:first-child {
    font-weight: bold;
}

tfoot td {
    font-size: 85%;
    font-style: italic;
}

dt, section > h3 ~ :not(p) {
    font-weight: bold;
    margin: 25px 0 2px;
}

/*
    last line on menu is div, but not a menu item name.
    It should not be bold. Don't know how else to exclude
    that from above selector.
*/
section > h3 ~ div ~ p ~ div ~ p ~ div ~ p ~ div ~ p ~ div ~ div ~ div {
    font-weight: normal;
    margin-top: 0;
}

.gf::before {
    content: "gf ";
    color: #2D882D;
    font-size: 75%;
}

.vg::before {
    content: "vg ";
    color: #2D882D;
    font-size: 75%;
}

.gf.vg::before {
    content: "gf vg ";
    color: #2D882D;
    font-size: 75%;
}

section > h2 ~ section {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}