#color-palette {
    color: #88CC88;
    color: #55AA55;
    color: #2D882D;
    color: #116611;
    color: #004400;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family:'Lucida Sans',
                'Lucida Sans Regular',
                'Lucida Grande',
                'Lucida Sans Unicode',
                Geneva, Verdana, sans-serif;
}