@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* SITE-WIDE =================================================== */

body {
    margin: 0;
    font-family: 'Handlee', cursive;
}

h1, h2, h3 {
    font-family: 'Homemade Apple', cursive;
    text-align: center;
}

header {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2D882D;
}

nav {
    display: flex;
    flex-grow: 1;
}

nav > ul {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav > ul > li {
    display: flex;
    width: 25%;
    margin: 0 10px;
    padding: 10px 50px;
}

nav > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

#theme-toggle {
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    margin: 10px;
}

#theme-toggle:hover {
    cursor: pointer;
}

header a:hover, header #theme-toggle:hover {
    background-color: #55AA55;
}

main {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    max-width: 1200px;
}

/* HOMEPAGE ==================================================== */

main > h1:first-child {
    font-size: 72px;
}

img[src="images/homepage banner.jpeg"] {
    height: 400px;
    width: 1200px;
    object-fit: cover;
}

h1 + img + section > p {
    text-indent: 2em;
}

h1 + img + section + section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img[src*="food"] {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

/* MENU ======================================================== */

h1 + section, h1 + :not(img) ~ section {
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: #c6f5c6;
    padding: 0 25px 25px;
}

section > h2, section > h3 {
    margin-bottom: 0;
}

dd, dl, dt, h3 ~ p {
    margin: 0;
}

dt, section > h3 ~ :not(p) {
    font-weight: bold;
    margin: 25px 0 2px;
}

/*
    last line on menu is div, but not a menu item name.
    It should not be bold. Don't know how else to exclude
    that from above selector.
*/
section > h3 ~ div ~ p ~ div ~ p ~ div ~ p ~ div ~ p ~ div ~ div ~ div {
    font-weight: normal;
    margin-top: 0;
}

section > h2 ~ section:last-child {
    border-top: 2px solid black;
    margin-top: 25px;
}

.gf::before {
    content: "gf ";
    font-size: 75%;
    color: red;
}

.vg::before {
    content: "vg ";
    font-size: 75%;
    color: red;
}

.gf.vg::before {
    content: "gf vg ";
    font-size: 75%;
    color: red;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 25px;
}

tbody > tr:nth-child(odd) {
    background-color: #b3d6b3;
}

thead > tr, tbody > tr > td:first-child {
    font-weight: bold;
}

tfoot td {
    font-size: 85%;
    font-style: italic;
}

tfoot > tr:first-child > td {
    padding-top: 10px;
}

/* DIRECTIONS ================================================== */

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

article h2 {
    margin: 5px;
}

iframe {
    border: none;
    width: 450px;
    height: 450px;
}

article span {
    font-weight: bold;
}

article a {
    font-style: normal;
}

article address::before {
    content: "📞 ";
}

div.new {
    font-size: 150%;
    color: red;
}